* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-size: 14px;
}
input, button {
	font-size: 13px;
}
.container {
	display: flex;
	width: 800px;
	margin: auto;
	padding: 10px 20px;
	box-shadow: inset 9px 0 6px -6px #0002, inset -9px 0 6px -6px #0002;
}
.leftside {
	flex: 1 1 0;
	margin-right: 20px;
}
.rightside {
	flex: none;
	display: flex;
	flex-flow: column;
}
.items {
	flex: 1 1 0;
}
.header .item {
	text-align: center;
	font-weight: bold;
}
.item {
	display: flex;
	margin: 3px 0;
}
.item>* {
	flex: 1 0 auto;
	margin: 0 3px;
}
.item>*:nth-child(n + 2) {
	width: 80px;
	flex: none;
}
.buttons {
	display: flex;
	margin-top: 10px;
}
.buttons button {
	flex: 1 1 0;
	margin: 0 3px;
}
